body {
  background-image: url("http://www3.hilton.com/resources/media/hi/SDXSEHH/en_US/img/shared/full_page_image_gallery/main/HH_firepitporch01_47_1270x560_FitToBoxSmallDimension_Center.jpg");
  background-repeat: inherit;
  background-size: 123%;
}